*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-web{
    width: 100vw;
    height: 100vh;
}
/* Header */
header{
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.left-header{
    width: 15%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
header .left-header i{
    padding-right: 28px;
    font-size: 25px;
}
header .left-header svg{
    width: 90px;
    height: 20px;
}
/* Main Header */
.main-header{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main-header input{
    width: 540px;
    height: 40px;
    border: solid 1px #ccc;
    border-radius: 20px 0 0 20px;
}
.main-header input::placeholder{
    color: #908e8e;
    padding-left: 15px;
}
.main-header .box-search{
    width: 60px;
    height: 40px;
    background-color: #ede9e9;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-header  i{
    font-size: 20px;
}
.main-header .fa-microphone{
    padding-left: 15px;
}




.right-header{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-header i{
    color: #065fd4;
    font-size: 15px;
    padding-right: 10px;
}
.right-header .login{
    width: 100px;
    height: 35px;
    border: 1px solid #065fd4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.right-header p{
    color: #065fd4;
    font-size: 16px;
}


 */
.content{
    height: 100%;
    width: 100%;
    display: flex;
}
nav{
    width: 17%;
    height: 100%;
    background-color: darkcyan;
}
main{
    width: 83%;
    height: 100%;
    background-color: darkgreen;
}